/* 
Theme: Volunteer
Date: Feb 2010 
Author: Kevin Browning
Email: ksbrowning@kbitsystems.com
*/

* {
margin:0;
padding:0;
}

body {
background:#fff url(images/background.gif) top left repeat-x;
font-size:87.5%;
font-family:Arial, Sans-Serif;
line-height:1.4em;
color:#666;
text-align:center;
}

#wrapper {
width:960px;
margin:0 auto;
position:relative;
text-align:left;
}

#header {
width: 100%;
height: 134px;
position:relative;
}

#header a.logo, #header a.logo:hover, #header a.logo:visited {
position:absolute;
top:0;
left:0;
text-decoration:none;
border:none;
}

#header img {
border:none;
}

#banner {
z-index:-1;
position:relative;
width:960px;
height:106px;
background: #0d0d6a url(images/banner.gif) no-repeat;
}

#container {
width:960px;
height:100%;
padding-bottom:1em;
overflow:hidden;
background:#fff url(images/container.jpg) top left repeat-x;
position:relative;
}

#left-620 {
float:left;
width:620px;
}

#right-340 {
float:right;
width:340px;
}

#right-620 {
float:right;
width:620px;
}

#left-340 {
float:left;
width:340px;
}

#left-480 {
float:left;
width:480px;
}

#right-480 {
float:right;
width:480px;
}

.inner {
padding:0 1em 1em 1em;
}

.inner ul li {
margin-left: 1em;
}

p {
line-height:1.4em;
margin:1em 0;
}

a, a:visited {
color:#2935a3;
text-decoration:none;
border-bottom: 1px dotted #2935a3;
}

a:hover {
border-bottom: 1px solid #2935a3;
}

#left-col a.arrow, #right-col a.arrow {
margin: 1em 0;
display: block;
border-bottom:none;
text-transform: uppercase;
padding-left: 25px;
font-weight: bold;
}

#nav {
position: absolute;
top: 100px;
left: 0px;
}

#banner h1 {
font-weight: normal;
position: absolute;
top:40px;
left:10px;
}

#header h1 {
font-weight: normal;
position: absolute;
top:135px;
left:10px;
}

h1 {
text-transform: uppercase;
font-size:1.5em;
font-family:Arial;
color:#fff;
}

h2 {
font-size:1.4em;
font-family:Arial;
color:#252da3;
margin:1em 0;
padding-bottom:0.2em;
border-bottom:2px dotted #dad8d8;
}

h2.notopmargin {
margin-top:0;
}

h3 {
font-size:1.3em;
font-family:Arial;
color:#252da3;
margin:1em 0;
}

h4 {
font-size:1.1em;
color:#b3e1eb;
margin:1em 0;
}

#footer {
border-top:2px dotted #DAD8D8;
background:#fff;
padding:1em;
color:#6c605c;
}



/* featured rotator */

#featured {
border:1px solid #fff;
background:#fff;
margin-top:-80px;
z-index:-1;
}

#feature_list {
width: 960px;
height: 240px;
overflow: hidden;
position: relative;
z-index:1;
}

div#feature_list ul {
position: absolute;
top: 0;
list-style: none;	
padding: 0;
margin: 0;
}

#feature_list h3 {
margin: 0;	
padding: 7px 0 0 0;
text-transform: uppercase;
}
	
ul#tabs {
left: 0;
z-index: 2;
width:288px;
}

ul#tabs li {
font-size: 12px;
font-family: Arial;
border-bottom:1px dotted #DAD8D8;
border-right:1px dotted #DAD8D8;
}

ul#tabs li a {
color: #666;
text-decoration: none;	
display: block;
padding: 10px;
height: 60px;
outline: none;
border-bottom:none;
}

ul#tabs li a.current {
background:#2935a3 url(images/featured-tab.jpg) top left repeat-x;
color: #FFF;
}
	
ul#tabs li a.current h3 {
color:#fff;
}

ul#tabs li a.current:hover {
text-decoration: none;
cursor: default;
}

ul#output {
right: 0;
width: 673px;
height: 240px;
position: relative;
}

ul#output li {
position: absolute;
width: 663px;
height: 240px;			
}

ul#output li img {
opacity: .5;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
}

ul#output li a {
position: absolute;
bottom: 10px;
right: 10px;
padding: 8px 12px;
text-decoration: none;
font-size: 14px;
color: #FFF;
background: #2935a3;
-moz-border-radius: 5px;
}
	
ul#output li a:hover {
background: #1d256f;
}

